@import "../../../utils/styles/default";

/* component variables*/
$border-radius : 5px;

.search-form {
  position: relative;
  display: table;
  border-collapse: separate;
}
.search-form__input {
  background: $body-bg;
  @include border-left-radius($border-radius);
  border: 1px solid $gray-lighter;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  font-size: 14px;
  height: 33px;
  margin: 0px;
  padding: 6px 12px;
  position: relative;
  width: 100%;
  writing-mode: horizontal-tb;
  z-index: 2;
  &:focus {
    @include border-shadows($brand-info);
  }
}

.search-form__span {
  box-sizing: border-box;
  display: table-cell;
  font-size: 0px;
  position: relative;
  vertical-align: middle;
  width: 1%;
}

.search-form__button {
  @include border-right-radius($border-radius);
  background: $body-bg;
  font-size: $font-size-base;
  border: 1px solid $gray-lighter;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  margin: 0px 0px 0px -1px;
  padding: 6px 12px;
  width: 40px;
  &:focus,&:hover {
    outline: 0;
    background: darken($body-bg, 10%);
  }
}
