
.portal-logo {
  width: 224px;
  height: 74px;
  background: url("../assets/images/portal-logo.svg") no-repeat top left;
  background-size: contain;
  fill: #94d31b;
  float: none;
  margin: 0 auto;
}

.job-search {
  background: url("../assets/images/elephat-island.jpg") fixed;
  background-size:cover;
  padding-bottom: 10px;
}
