
.job-results {
  background-color: #fff;
  color: #4d4d4d;

  .job-result:nth-child(n+2) {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #eee;
  }
  .job-result:nth-child(n+1) {
  }
}


label {
  //font-weight: normal;
}